
  <connectionStrings>
    <!--<add name="DefaultConnection2" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MyBeerApp-20130209141110;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MyBeerApp-20130209141110.mdf" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=4e0378bd-53e6-425c-93d6-a169000538f4.sqlserver.sequelizer.com;Database=db4e0378bd53e6425c93d6a169000538f4;User ID=ibckvqrkhpnktbpm;Password=v4sk82FYPTVKmzN28w38SRuy72Mw8fFuJhwmmBmADpRg2fnY6NzwiLUMG3mfniZJ;"  />
    <!--<add name="BeerConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Beer.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />-->
    <add name="BeerConnectionString" providerName="System.Data.SqlClient" connectionString="Server=4e0378bd-53e6-425c-93d6-a169000538f4.sqlserver.sequelizer.com;Database=db4e0378bd53e6425c93d6a169000538f4;User ID=ibckvqrkhpnktbpm;Password=v4sk82FYPTVKmzN28w38SRuy72Mw8fFuJhwmmBmADpRg2fnY6NzwiLUMG3mfniZJ;" />
  </connectionStrings>
